.container{
    width: 280px;
    height: 550px;
    border: 0.5px solid gray;
    background-color: white;
    display: grid;
    margin: 5px;
    grid-template-columns: 80px 80px 80px;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-end;
    

}
.square{
    width: 80px;
    height: 80px;
    border: 0.5px solid gray;
    background-color: white;
    margin-bottom: 10px;

    
    

}
.circle{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0.5px solid gray;
    background-color: white;
    margin: 8px;
    
}